<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    .answers {
        display: flex;
        justify-content: space-between;
        width: 350px;
    }

    .value {
        padding: 10px;
        background-color: #8257e6;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
    }

    .level{
        display: flex;
        margin:10px;
        justify-content: space-between;
        width: 350px;
    }
</style>

<div class="container">
    <label>Olá <strong>{{userName}}</strong>! Tudo bem? </label>

    <h3>{{title}}</h3>
    <br />
    <strong>{{description}}</strong>

    <div class="level">
        <span>Pouco Provavel</span>
        <span>Muito Provavel</span>
    </div>

    <div class="answers">
        <a href="" class="value">1</a>
        <a href="" class="value">2</a>
        <a href="" class="value">3</a>
        <a href="" class="value">4</a>
        <a href="" class="value">5</a>
        <a href="" class="value">6</a>
        <a href="" class="value">7</a>
        <a href="" class="value">8</a>
        <a href="" class="value">9</a>
        <a href="" class="value">10</a>
    </div>
    <br />
    <br />
    <strong>Sua opiniao é muito importante para nós</strong>
    <h3>Equipe JOBSEA</h3>
</div>